.container-position{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas: 
        "c1 c1"
        "c2 c3"
    ;
    gap: 0;
    padding: 0 30px 30px 0;

}

.title-column{
    grid-area: c1;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    text-transform: capitalize;
    
}

.title-row{
    grid-area: c2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    text-transform: capitalize;
    transform: rotate(270deg);
}

.actual-position{
    grid-area: c3;
    box-shadow: 0 0 5px #0f5a5e,
                0 0 5px #0f5a5e;
    border-radius: 5px;
    overflow:scroll;
}

#chessboard {
    height: 1000px;
    width: 1000px;
    border-collapse: collapse;
  }
  
  #chessboard td,th {
    border: 1px solid rgba(255,255,255,0.1);
    padding: 8px;
    text-align: center;

    min-height: 40px;
    min-width: 40px;
  }

  
  #chessboard th {
    position: sticky;
    top: 20px;
    background-color: transparent;
    color: var(--white);
  }
  
  #chessboard th:first-child {
    left: 0;
    z-index: 1;
  }
  
  #chessboard td:first-child {
    position: sticky;
    left: 0;
    background-color: transparent;
    color: var(--white);
  }


  #chessboard-section2 {
    height: 1000px;
    width: 1000px;
    border-collapse: collapse;
  }
  
  #chessboard-section2 td,th {
    border: 1px solid rgba(255,255,255,0.1);
    padding: 8px;
    text-align: center;

    min-height: 40px;
    min-width: 40px;
  }

  
  #chessboard-section2 th {
    position: sticky;
    top: 20px;
    background-color: transparent;
    color: var(--white);
  }
  
  #chessboard-section2 th:first-child {
    left: 0;
    z-index: 1;
  }
  
  #chessboard-section2 td:first-child {
    position: sticky;
    left: 0;
    background-color: transparent;
    color: var(--white);
  }



  #chessboard-section3 {
    height: 1000px;
    width: 1000px;
    border-collapse: collapse;
  }
  
  #chessboard-section3 td,th {
    border: 1px solid rgba(255,255,255,0.1);
    padding: 8px;
    text-align: center;

    min-height: 40px;
    min-width: 40px;
  }

  
  #chessboard-section3 th {
    position: sticky;
    top: 20px;
    background-color: transparent;
    color: var(--white);
  }
  
  #chessboard-section3 th:first-child {
    left: 0;
    z-index: 1;
  }
  
  #chessboard-section3 td:first-child {
    position: sticky;
    left: 0;
    background-color: transparent;
    color: var(--white);
  }

  