body{
    height: 100vh;
    width: 100vw;
    /* display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 7% 1fr; */
    overflow: hidden;
}

#loadingMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 24px;
    z-index: 9999;
}