.section{
    background: rgb(48,50,60);
    background: linear-gradient(180deg, rgba(48,50,60,1) 0%, rgba(22,23,28,1) 100%);
    position: relative;
    height: 100vh;
    left: 0;
    width: 100%;
    padding: 25px;
    padding-top: calc((100vh / 100 * 7) + 25px);
}

.card{
    background: rgb(48,50,60);
    box-shadow: var(--card-shadow);
    border-radius: 10px;
}

.bypass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bypass>.btn-normal{
    width: 50%;
    min-height: 30px;
}

.ManAuto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 15px;
    margin-bottom: 15px;

}

.ManAuto>.btn-normal{
    min-height: 30px;
}
