#section5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "c1 c1 c2"
    "c1 c1 c3"
    "c4 c5 c6"
    ;
    gap: 20px;
}

#section5>.card:nth-child(1){
    grid-area: c1;
}

#section5>.card:nth-child(2){
    grid-area: c2;
}

#section5>.card:nth-child(3){
    grid-area: c3;
}

#section5>.card:nth-child(4){
    grid-area: c4;
}

#section5>.card:nth-child(5){
    grid-area: c5;
}

#section5>.card:nth-child(6){
    grid-area: c6;
}


#alarmTable{
    width: 100%;
    border: none;
    border-collapse: collapse;
}



#alarmTable th{
    color: var(--white);
    text-shadow: var(--text-shadow);
    font-weight: bold;
    padding: 10px;
    border: none;
    box-shadow: var(--card-shadow);
    /* border-radius: 10px 10px 0px 0px; */
    text-align: left;
    background-color: var(--black)
}

#alarmTable th:first-child{
    border-radius: 10px 0px 0px 0px;
}

#alarmTable th:last-child{
    border-radius: 0px 10px 0px 0px;
}

#alarmTable td{
    color: var(--white);
    text-shadow: white;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.1);
    /* box-shadow: var(--card-shadow); */
    /* border-radius: 0px 0px 10px 10px; */
}

