#section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "c1 c2 c3"
        "c1 c2 c3"
        "c4 c5 c6"
    ;
    gap: 5px;
}

#section2>.card:nth-child(1){
    grid-area: c1;
}

#section2>.card:nth-child(2){
    grid-area: c2;
}

#section2>.card:nth-child(3){
    grid-area: c3;
}

#section2>.card:nth-child(4){
    grid-area: c4;
}

#section2>.card:nth-child(5){
    grid-area: c5;
}

#section2>.card:nth-child(6){
    grid-area: c6;
}

