#section1{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "c1 c2"
        "c1 c3"
    ;
    gap: 5px;
}

#section1>.card:nth-child(1){
    grid-area: c1;
}

#section1>.card:nth-child(2){
    grid-area: c2;
}

#section1>.card:nth-child(3){
    grid-area: c3;
}


