.joystick {
  /* width: 210px;
  height: 210px; */
  width: clamp(6.25rem, -0.7367rem + 16.7598vw, 19.375rem);
  height: clamp(6.25rem, -0.7367rem + 16.7598vw, 19.375rem);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;

  background: linear-gradient(
    to bottom,
    #555353,
    #303030
  );   
  box-shadow: 2px 2px 5px black;
}

.pressed img{
  filter: var(--filter-blue);
}

.joystick-btn {
  /* width: 86px;
  height: 86px; */

  width: clamp(1.9375rem, 0.1076rem + 4.3895vw, 5.375rem);
  height: clamp(1.9375rem, 0.1076rem + 4.3895vw, 5.375rem);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joystick-btn img{
  width: 50%;
  height: 50%;
  filter: invert(52%) sepia(7%) saturate(164%) hue-rotate(191deg) brightness(97%) contrast(90%);
}

.btn-top {
top: 0;
left: 50%;
transform: translateX(-50%);
}

.btn-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.btn-right img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.btn-down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn-down img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.btn-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-left img {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.btn-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btn_CENTER{
  font-size: clamp(0.5rem, 0.2338rem + 0.6385vw, 1rem);
}


