.popup{
    display: none;
    transition: all 0.5s ease-in-out;
}
.popup.open{
    position: fixed;
    display: block;   
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(3px);
    

    z-index: 99999; 
    transition: all 0.5s ease-in-out;
}
.inner-popup{
    opacity: 0;
    z-index: -999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;

    
    width: 80%; 
    /* aspect-ratio: 4/3; */
    min-height: 300px;
    height: 90%;
    max-height: 500px;

    max-width: 400px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popup.open>.inner-popup{
    background-color: rgba(192, 192, 192, 0.8); 
    opacity: 1;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;


    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(0);

}
.popup.open>.inner-popup>.text-large{
    color: var(--blue);
    position: absolute;
    top: 10%;
}
.container-buttons-login{
    position: absolute;
    bottom: 10%;
    width: 60%;
    height: 15%;
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-input-login{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inner-login{
    max-height: 300px;
}

#user,
#password{
 height: 30px;
 width: 100%;   
}

#popupMessage{
    color: var(--black);
    font-size: clamp(0.75rem, 0.6169rem + 0.3192vw, 1rem);
}

#buttonCloseLogin,
#buttonLogin{
    width: 50%;
    height: 100%;
    cursor: pointer;
    background: var(--bg-dark);
    border-radius: 25px;
    color: var(--light-blue);
}
#buttonClosePopup{
    position: absolute;
    bottom: 10%;
    width: 25%;
    height: 15%;
    cursor: pointer;
    background: var(--bg-dark);
    border-radius: 25px;
    color: var(--light-blue);
}

#buttonClosePopup:hover,
#buttonCloseLogin:hover,
#buttonLogin:hover{
    background: var(--light-blue);
    color: var(--bg-dark); 
}

