body {
    font-family: Arial, sans-serif;
  }
  
  .table-container {
    overflow:scroll;
    max-width: 100%;
    max-height: 80vh;
  }
  
  table {
    height: 1000px;
    width: 1000px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

    height: 40px;
    width: 40px;
  }
  
  th {
    position: sticky;
    top: 0;
    background-color: #2ce63c;
  }
  
  th:first-child {
    left: 0;
    z-index: 1;
  }
  
  td:first-child {
    position: sticky;
    left: 0;
    background-color: #34abe7;
  }
  