@import url("base/global.css");
@import url("base/orientation-control.css");
@import url("utilities/scrollbar.css");
@import url("utilities/colors.css");
@import url("utilities/text.css");
@import url("layouts/body.css");
@import url("layouts/header.css");
@import url("layouts/sidebar.css");
@import url("layouts/main.css");
@import url("layouts/card.css");
@import url("components/popup.css");


/* Style for the container div */
#container {
    width: 750px;
    height: 750px;
    overflow: auto; /* Enable scrolling */
  }
  
  /* Style for the grid container */
  #gridContainer {
    display: grid;
    grid-template-columns: repeat(38, 40px); /* Adjust size of each square */
    grid-template-rows: repeat(38, 40px); /* Adjust size of each square */
    gap: 2px; /* Adjust gap between squares */
  }
  
  /* Style for each individual square */
  .square {
    width: 40px; /* Adjust size of each square */
    height: 40px; /* Adjust size of each square */
    background-color: white; /* Default color */
    border: 1px solid black; /* Add border for clarity */
  }
  
  /* Style for the red square */
  .square.red {
    background-color: red;
  }
  
  
  
  
  
  







