.text-small{
    font-size: clamp(0.5rem, 0.2338rem + 0.6385vw, 1rem);
}

.text-medium{
    font-size: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem);
}

.text-large{
    font-size: clamp(1rem, 0.5342rem + 1.1173vw, 1.875rem);
}