/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--grey); 
    border-radius: 10px;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
}