.container-shuttle-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-img{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
.container-img>span{
    margin: 5%;
}
.container-img-BabyShuttle{
    height: 70%;
    aspect-ratio: 4/3;
    position: relative;
}
.container-img-BabyShuttle-Lateral{
    height: 80%;
    aspect-ratio: 35/9;
    position: relative;
}

.border{
    height: 1px;
    border-top: solid 1px var(--light-grey) ;
    width: 80%;
    margin: 0%;
    position: relative;
    top: -1%;
}
.container-img>img{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.BabyShuttle{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.BabyShuttleLateral{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

.sensor{
    height: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem);
    aspect-ratio: 1;
    border-radius: 50%;
    background: grey;
    border: solid 1px black;
    text-align: center;
    font-size: clamp(0.375rem, 0.1754rem + 0.4789vw, 0.75rem);
}

.green{
    background: green;
}

/* POSITION SENSORS */
#sensor-Before-Cargo-side-A{
    position: absolute;
    top: 25%;
    left: 6%;
    z-index: 999;
}