.shuttle-img{
    height: 70%;
    width: 70%;    
    position: absolute;
    top: 15%;
    left: 15%;

}
.machine-img{

    width: 100%;
    aspect-ratio: 2.43;
    position: relative;

}

.sensor{
    height: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem);
    aspect-ratio: 1;
    border-radius: 50%;
    background: grey;
    border: solid 1px black;
    text-align: center;
    font-size: clamp(0.375rem, 0.1754rem + 0.4789vw, 0.75rem);
}

.green{
    background: green;
}

#sensor-Before-Cargo-side-A{
    position: absolute;
    top: 40%;
    left: 40%; 
}