.text-white{
    color: var(--white);
}

.text-light-blue{
    color: var(--light-blue);
}

.text-black{
    color: var(--black);
}

.text-light-grey{
    color: var(--light-grey);
}

.bg-dark{
    background-color: var(--bg-dark);
}