.flex-item-1col{flex: 8.33%;}
.flex-item-2col{flex: 16.66%;}
.flex-item-3col{flex: 25%;}
.flex-item-4col{flex: 33%;}
.flex-item-5col{flex: 41.65%;}
.flex-item-6col{flex: 50%;}
.flex-item-7col{flex: 58.31%;}
.flex-item-8col{flex: 66.64%;}
.flex-item-9col{flex: 75%;}
.flex-item-10col{flex: 83.3%;}
.flex-item-11col{flex: 91.67%;}
.flex-item-12col{flex: 100%;}

