#contents{display: block;}
.inner-popup{display: flex;}
#warning{display: none;}


@media screen and (orientation:portrait)
{
  #contents{display: none;}
  #popup{display: none;}
  #warning{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: clamp(1rem, 0.0352rem + 2.3144vw, 2.8125rem);
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding: 0 10%;
  }

}